.form {
    display: flex;
}
.text {
    font-size: 20px;
    font-weight: 700;
    padding-right: 8px;
}
.btn {
    background-color: aquamarine;
    font-size: 14px;
    transform: translateY(-5px);
}
.span {
    padding: 20px;
}
.input-month {
    border: 1px solid black;
    border-radius: 16px;
    padding: 4px;
    padding-left: 8px;
}