.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header {
    padding: 80px;
}
.title {
    color: var(--primary);
    opacity: 0.9;
    text-transform: uppercase;
    text-align: center;
    line-height: 10px;
}
.wrap-service {
    display: inline-flex;
    width: 800px;
    justify-content: center;
    border-bottom: 1px solid black;
}

.navbar {
    font-size: 20px;
    padding: 20px 20px 0 20px;
    width: -140%;
}
.navbar-link {
    padding: 14px;
}
.span-item {
    display: inline-block;
    border-bottom: 3px solid transparent;
    padding-bottom: 3px;
    color: var(--primary);
    &:active {
        border-color: rgb(255, 170, 0);
    }
}
