.wrapper {
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--whitecolor);

    + .wrapper {
        margin-left: 8px;
    }
}
.primary {
    background-color: var(--primary);
    color: var(--whitecolor);
}
.outline {
    border: 1px solid var(--primary);
}
.small {
    min-width: 40px;
    padding: 4px 16px;
}
