.wrapper {
    padding: 20px;
}
.clock {
    margin-right: 8px;
}
.wrap-btn {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    button {
        display: inline-flex;
        justify-content: space-between;
        font-size: 12px;
    }
    i {
        margin-right: 4px;
    }
}
