.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;

    h2 {
        padding: 60px;
    }
}
.aligncenter {
    clear: both;
    display: block;
    padding: 0 20px;
    margin: 0.75em auto 2em;
    width: 95%;
}
