.container {
    width: 100%;
    text-align: center;
}

.titleContainer {
    text-transform: uppercase;
    color: #434343;
    margin: 20px 0;
}
.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav {
    width: 50%;
    display: flex;
    padding-left: 44px;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
}
.navItem {
    list-style-type: none;
    margin: 0px 15px;
}
.navLink {
    text-decoration: none;
    color: #000;
    &:hover {
        cursor: pointer;
        color: #000;
    }
}
.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.col6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px !important;
}
.h-100 {
    height: 100% !important;
    width: 50%;
    text-decoration: none;
    cursor: pointer;
}
.card {
    border-radius: 0;
    border: none;
    position: relative;
}
.img {
    width: 100%;
    height: 100% !important;
}
.cardOverlay {
    text-align: center;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.cardTitle {
    position: absolute;
    bottom: 0px;
    font-size: 2em;
    width: 100%;
    background-color: rgba(78, 64, 45, 0.6);
    padding: 10px 0;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}
