.container {
    width: 100%;
    text-align: center;
}

.titleContainer {
    text-transform: uppercase;
    color: #434343;
    margin: 20px 0;
}
.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav {
    width: 50%;
    display: flex;
    padding-left: 44px;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
}
.navItem {
    list-style-type: none;
    margin: 0px 15px;
}
.navLink {
    text-decoration: none;
    color: #000;
    &:hover {
        cursor: pointer;
        color: #000;
    }
}
.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 40px;
}
