.wrapper {
    position: relative;
    height: 100vh;
    background: url('../../assets//imgs/background-admin1.jpg') no-repeat center;
    background-size: 100%;
    text-align: center;

    --border-radius: 16px;
}
.content {
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    position: absolute;
    display: flex;
    background-color: white;
    border-radius: 16px;
    box-shadow: 10px 0px 40px rgb(187, 187, 187);
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}
.img {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    img {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        width: 100%;
        height: 100%;
    }
}
.form-1 {
    z-index: 1;
    padding-left: 400px;
}
.form {
    position: relative;
    width: var(--onehundred_percent);
    margin-bottom: 10px;
    input {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 1.5;
        color: black;
        display: block;

        width: 100%;
        background: #f5f5f5;
        height: 45px;
        border-radius: 0.375rem;
        padding: 0 60px 0 68px;
        border: 1px solid #d4d4d4;
        &::placeholder {
            /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(0, 0, 0);
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder {
            /* chạy trên Internet Explorer 10-11 */
            color: rgb(0, 0, 0);
        }

        &::-ms-input-placeholder {
            /* chạy trên Microsoft Edge */
            color: rgb(0, 0, 0);
        }
    }
    .span-i-admin {
        display: flex;
        align-items: center;
        position: absolute;
        border-radius: 25px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 25px;
        pointer-events: none;
        color: black;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
}

.wrap-input {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid transparent;
    outline: none;

    &:focus-within {
        outline: none;
    }
}

.span-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    color: black;
    line-height: 1.9;
    text-align: center;
    font-weight: 900;
    width: 100%;
    display: block;
    padding-bottom: 30px;
}

.btn-dangnhap {
    input {
        cursor: pointer;
        background-color: #ffd43b;
        margin-top: 10px;
        font-weight: 500;
    }
}
.forgot-password {
    font-weight: 500;
    color: black;
    position: absolute;
    text-decoration: none;
    padding-top: 8px;
    right: 0;
    &:hover {
        text-decoration: underline;
        color: black;
    }
}
.bottom {
    padding-left: 370px !important;

    i {
        pointer-events: all !important;
        cursor: pointer !important;
    }
}
