.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-size: 16px;
    background-color: var(--primary);
    color: var(--whitecolor);
    height: 50px;
    display: inline-flex;
    justify-content: center;
    padding-left: 142px;
    z-index: 1;
}
.navbar-left-header {
    display: flex;
    list-style: none;
    height: 100%;
}
.logo-heading {
}
.navbar-right-header {
    display: flex;
    list-style: none;
    height: 100%;
}

.list-item-link {
    display: flex;
    text-decoration: none;
    line-height: 50px;
    font-size: 12px;
    font-weight: 400;
    padding: 0 32px;
    width: 100%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    &:hover {
        color: rgba(255, 255, 255, 0.8);
    }
}
.wrap-img-header {
    width: 50px;
    height: 50px;
    padding: 6px;
    background-color: #372c21;
    .img-header {
        width: 100%;
        height: 100%;
    }
}
.orders {
    --ordersColor: rgb(248, 93, 107);
    font-weight: bold;
    color: rgba(248, 93, 107, 0.7);
    &:hover {
        color: rgba(248, 93, 107, 1);
    }
}

// Phần header Login
.header-login {
    padding-left: 32px;
    position: relative;
    display: flex;
    align-items: center;

    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 300;
    cursor: pointer;
    &:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    .header__wrap-logo-login {
        line-height: 52px;
        .header__logo-login {
            height: 20px;
            margin-right: 10px;
        }
    }
    .header__account {
        .header__myaccount {
            margin-top: 2px;
        }
        .header__myaccount-icon {
            margin-left: 4px;
        }
    }
}
