.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    background-color: var(--primary);
    color: var(--whitecolor);
    height: 50px;
}
.navbar-left-header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.list-item {
    display: inline-block;
    height: 100%;
}
.list-item-link {
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    padding: 0 32px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    &:hover {
        color: rgba(255, 255, 255, 0.8);
    }
}
.wrap-img-header {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #372c21;
    .img-header {
        width: 100%;
        height: 100%;
    }
}
.icon-socials {
    .fa-brands fa-youtube {
        padding-left: 40px;
    }
    i + i {
        padding: 0 4px;
    }
}
.nav-icon {
    color: rgba(255, 255, 255, 0.4);
    padding: 6px;
    &:hover {
        color: rgba(255, 255, 255, 0.9);
    }
}
